<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
    <link rel="stylesheet" href="./games.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
</style>
<body>
    <header class="d-flex align-items-center">
        <div role="button" class="back ms-3"><a href="./"><img class="" src="./_.png" alt=""></a></div>
        <div role="button" class="logo ms-3"><img src="./logo 1.png" alt=""></div>
        <div class="game-title ms-3 title"><h1>ROCK PAPPER SCISSORS</h1></div>
    </header>
    <section class="container">
        <div class="row text-center">
            <div class="col" id="Player">
                <div class="mt-5 mb-5"><h1>Name player</h1></div>
                <div class="mb-3 option">
                    <img id="batu" class="player" role="button" src="./batu.png" alt="batu">
                </div>
                <div class="mb-3 option">
                    <img id="gunting" class="player" role="button" src="./gunting.png" alt="gunting">
                </div> 
                <div class="mb-3 option">
                    <img id="kertas" class="player" role="button" src="./kertas.png" alt="kertas">
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div id="vs" class="vs">VS</div>
                <div id="win" class="d-flex justify-content-center align-items-center results win">PLAYER 1<br> WIN</div>
                <div id="lose" class="d-flex justify-content-center align-items-center results win">COM <br> WIN</div>
                <div id="draw" class="d-flex justify-content-center align-items-center results draw">DRAW</div>
            </div>
            <div class="col">
                <div class="mt-5 mb-5"><h1>Bot</h1></div>
                <div class="mb-3 option">
                    <img id="botbatu" clas="bot" src="./batu.png" alt="batu">
                </div>
                <div class="mb-3 option">
                    <img id="botgunting" class="bot" src="./gunting.png" alt="gunting">
                </div>
                <div class="mb-3 option">
                    <img id="botkertas" class="bot" src="./kertas.png" alt="kertas">
                </div>
            </div>
        </div>
        <div class="text-center option">
            <img id="refresh" class="refresh" role="button" src="./refresh.png" alt="refresh">
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./script.js"></script>
</body>
</html>